params {
  input_gen      = '/path/to/gen/files'                     // Folder with .gen files per chr
  sample_file    = '/path/to/data/exampleDataset.sample'    // Oxford .sample file
  ref_info       = '/path/to/Genotype_VariantsInfo_matched_PGCgwas-CADgwas_'
  script_dir     = '/path/to/Software/model_prediction'     // Folder containing R scripts
  data           = '/path/to/data'                          // Working/output directory
}

process {
  container = 'ghcr.io/your-org/priler-prep:latest'         // Optional Docker
  executor = 'local'                                        // Or 'slurm', 'awsbatch', etc.
  withLabel: docker {
    container = 'ghcr.io/your-org/priler-prep:latest'
  }
}
