singularity {
    enabled = true
    autoMounts = true
}



params {
    container = '/home/r/rguo/scripts/eCASTom/nextflow_app.sif'

    dataset_name = "exampleDataset"
    data_path_prefix = "/scratch/tmp/rguo/castom-nextflow/"
    
    var_info_file_prefix="/scratch/tmp/rguo/PRILER_TRAINED_MODELS_2023/GTEx/genotype_info/"
    cohort_name="example"
    alt_frq_col="EXP_FREQ_A1_GTEx"
    alt_frq_diff=0.15
    script_match_variants="/home/r/rguo/scripts/eCASTom/src/pre/match_genotype_variants.R"

    dosage_thresh = 0.1
    script_format_dosage = "/home/r/rguo/scripts/eCASTom/src/pre/format_genotype_dosage.R"
    
    tissue = "Whole_Blood"
    model_path_prefix = "/scratch/tmp/rguo/PRILER_TRAINED_MODELS_2023/GTEx/"
    covariates_file = "example_sample_cov.txt"
    script_genotye_priler= "/home/r/rguo/scripts/eCASTom/src/imputation/priler_predict_geneExp.R"
}